{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block body %}

        <!--/ START OF DYNAMIC VIEW -->
        <div id="cont-area">
            <div class="container-flex">
            <center>
                <div class="ext-box">
                    <div class="int-box">
                        <div class="well">
                            <center>
                                <div>
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                </div>
                                <div>Commissioning.IO projects are currently unavailable.</div>
                            </center>
                        </div>
                    </div>
                </div>
            </center>
            </div>
        </div>
        <!--/ END OF DYNAMIC VIEW -->
    </div>

{% endblock %}


{% block js %}
<script>

</script>

{% endblock %}